<p id="notice"><%= notice %></p>

<p>
  <strong>Rol data base:</strong>
  <%= @educational_institution.rol_data_base %>
</p>

<p>
  <strong>Name:</strong>
  <%= @educational_institution.Name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @educational_institution.Type %>
</p>

<p>
  <strong>Integration:</strong>
  <%= @educational_institution.Integration %>
</p>

<p>
  <strong>Region:</strong>
  <%= @educational_institution.region %>
</p>

<p>
  <strong>City:</strong>
  <%= @educational_institution.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @educational_institution.state %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @educational_institution.adress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @educational_institution.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @educational_institution.email %>
</p>

<%= link_to 'Edit', edit_educational_institution_path(@educational_institution) %> |
<%= link_to 'Back', educational_institutions_path %>
